

<footer class="footer">
  <div class="container">

    <span>Created by Eric Van Dyn Hoven  |  Alex Espinoza  |  Rubi Cabral  | Tim Seo  |  Doyle Ahn</span>
    <hr>
    <h6>Jukebox  2017</h6>

  </div>
</footer>
