<meta charset="utf-8">


<title>jukebox</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


<link rel="stylesheet" type="text/css" href="">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='https://code.jquery.com/jquery-2.2.1.min.js'></script>
<script src='https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js'></script>

<!-- add script for star rating  -->

<script src="https://use.fontawesome.com/6943570bb2.js"></script>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="jquery.barrating.min.js"></script>
<script type="text/javascript">
$(function() {
   $('#example').barrating({
     theme: 'fontawesome-stars',
     initialRating: null,
     fastClicks: true,
     hoverState: true
   });
});
</script> -->

<!-- end script for star rating -->


<script src="/js/api.js" charset="utf-8"></script>
<!-- <script src="/js/app.js" charset="utf-8"></script> -->
