<meta charset="utf-8">


<title>jukebox</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- dashgum scripts  -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>


    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>



<!-- end dashgum -->





<script src="/js/api.js" charset="utf-8"></script>
<script src="/js/app.js" charset="utf-8"></script>
