@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')

#apiname{
  font-size: 50px;
  text-align: center;
  font-weight: bold;

  color: red;
}

#navLogoCss {
  color: red;
font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
}

#navFavoriteCss {
  color: red;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 15px;
}
#starButton  {
  height: 25px;
  width: 25px;
}
#starButton2  {
  height: 50px;
  width: 50px;
}

#profileName {
  font-size: 45px;
  font-weight: bold;

}
#apiname {
  font-size: 40px;
}

#editUser {
  font-size: 18px;
  float: left;
  text-decoration: underline;
}
#backUser  {
font-size: 18px;
text-decoration: underline;
}

.indexCss {
  font-size: 20px;
}

.favoriteButton {
  border: white;
  background-color: white;

}

body {
  padding-top: 60px;
  padding-bottom: 45px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  padding-top: 14px;
  margin-top: 50px;
}

.indent {
  margin-left: 10%;
  font-size: 16px;
}
.indent3 {
  margin-left: 10%;
  font-size: 16px;
  text-decoration: underline;
}
.indent2 {
  margin-left: 15%;
  font-size: 16px;
}

.profileTitles {
  font-size: 20px;


}
.profileText {
  font-size: 20px;
  text-decoration: underline;
}

.container {
  margin-bottom: 100px;
}
