@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')

#apiname{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: red;
}

.jukenav {
  float: left;
max-width: 11%;
}

/*#navLogoCss {
  color: red;

  font-weight: bold;
}

#navFavoriteCss {
  color: red;

  font-size: 15px;
}*/
#starButton  {
  height: 25px;
  width: 25px;
}
#starButton2  {
  height: 50px;
  width: 50px;
}

#profileName {
  font-size: 45px;
  font-weight: bold;

}
#apiname {
  font-size: 40px;
}

#editUser {
  font-size: 18px;
  float: left;
  text-decoration: underline;
}
#backUser  {
font-size: 18px;
text-decoration: underline;
}

.indexCss {
  font-size: 20px;
}

.favoriteButton {
  border: white;
  background-color: white;

}

body {
  padding-top: 60px;
  padding-bottom: 45px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  /*padding-top: 14px;*/
  margin-top: 50px;
  background: rgba(210,210, 210, .8);
  color: red;
  padding: 15px 0;
}

.indent {
  margin-left: 10%;
  font-size: 16px;
}
.indent3 {
  margin-left: 10%;
  font-size: 16px;
  text-decoration: underline;
}
.indent2 {
  margin-left: 15%;
  font-size: 16px;
}

.profileTitles {
  font-size: 20px;
}

.ctn{
  border-color: #d9534f;
}
.profileText {
  font-size: 20px;
  text-decoration: underline;
}

.container {
  margin-bottom: 100px;

.navbar-default .navbar-nav .ls-nav  {
    color: #d9534f;
}

.btnRED  {
  color: rgba(255,20,20,1);
  background-color: rgba(220,220,220,1);
  border-color: rgba(200,10,10,1);
}
