<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add a new API!</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="js/app.js"></script>
        <% include ../partials/head %>
        <% include ../partials/scripts %>
    </head>
    <body>
      <h1>Add a new API!</h1>
      <form id="new-api">
        <input type="text" name='API Name:' id="api-name" placeholder="API Name:">
        <input type="url" name='API Url:' id="api-url" placeholder="API url:">
        <input type="text" name='API About:' id="api-about" placeholder="API About:">
        <input type="checkbox" name='API Support:' id="api-support">
        <input type="checkbox" name='API Paid:' id="api-paid">
        <input type="checkbox" name='API Authentication:' id="api-authentication">
        <input type="checkbox" name='API Deprecated:' id="api-deprecated">
        <input type="number" name='API tools' id="api-tools" placeholder="API Tools:">

        <select name="API-category" id="api-category">
            <option value="Social Media">Social Media</option>
            <option value="Product Advertising">Product Advertising</option>
            <option value="Business Rating">French Cruller</option>
            <option value="Yeast">Yeast</option>
        </select>

        <input type="text" name='API Install Rating:' id="api-rating-install" placeholder="API Install Rating:">
        <input type="text" name='API Readability Rating:' id="api-rating-readability" placeholder="API Readability Rating:">
        <input type="text" name='API Technicality Rating:' id="api-rating-technicality" placeholder="API Technicality Rating:">

        <input type="submit" value='Save My API'>

      </form>
      <% include ../partials/footer.ejs %>
    </body>
    <ul>
    </ul>
</html>
