<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
    </head>
    <body class="container">
      <%- include ../partials/header %>
      <h1>Add a new API</h1>
      <form action="/apis" method="POST">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name='name' placeholder="Name" class="form-control">
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input type="url" name='url' id="api-url" placeholder="URL" class="form-control">
        </div>
        <div class="form-group">
          <label>About:</label>
          <input type="text" name='about' id="api-about" placeholder="About" class="form-control">
        </div>
        <div class="form-group">
          <label>Support:</label>
          <input type="checkbox" name='support' id="api-support" class="form-control">
        </div>
        <div class="form-group">
          <label>Paid:</label>
          <input type="checkbox" name='paid' id="api-paid" class="form-control">
        </div>
        <div class="form-group">
          <label>Authenication:</label>
          <input type="checkbox" name='authentication' id="api-authentication" class="form-control">
        </div>
        <div class="form-group">
          <label>Deprecated:</label>
          <input type="checkbox" name='deprecated' id="api-deprecated" class="form-control">
        </div>
        <div class="form-group">
          <label>Tools:</label>
          <input type="number" name='tools' id="api-tools" placeholder="Number of tools" class="form-control">
        </div>
        <div class="form-group">
          <label>Category:</label>
          <select name="category" id="api-category" class="form-control">
              <option value="Music">Music</option>
              <option value="Recommendations">Recommendations</option>
              <option value="Transportation">Transportation</option>
              <option value="Fitness">Fitness</option>
              <option value="Social">Social</option>
              <option value="Photos">Photos</option>
              <option value="Shopping">Shopping</option>
              <option value="Real Estate">Real Estate</option>
              <option value="Mapping">Mapping</option>
              <option value="Weather">Weather</option>
              <option value="Video">Video</option>
          </select>
        </div>
        <div class="rated-categories">
          <hr>
          <h4>Ratings</h4>
        <div class="form-group">
          <label>Install:</label>
          <input type="text" name='install' id="rating-install" placeholder="1 - 5" class="form-control">
        </div>
        <div class="form-group">
          <label>Readability:</label>
          <input type="text" name='readability' id="rating-readability" placeholder="1 - 5" class="form-control">
        </div>
        <div class="form-group">
          <label>Technicality:</label>
          <input type="text" name='technicality' id="rating-technicality" placeholder="1 - 5" class="form-control">
        </div>
        </div>
        <div class="form-group">
          <input type="submit" value='Save My API'>
        </div>
        <a href="/apis">Back</a>

      </form>

      <%- include ../partials/footer.ejs %>
    </body>
</html>
