<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <% include ../views/partials/scripts %>
  </head>
  <body>
    <% include ../views/partials/header %>
    <div>
      <% include ../views/partials/apiForm %>
    </div>
    <% include ../views/partials/footer.ejs %>
  </body>
</html>
